<html>

<head>
    <title>TO DO SPA</title>
    <script src='./vue3.js'></script>
    <script src='./router.js'></script>

</head>

<body>
    <div id="app">
        <h3>SPA TODO Web system</h3>
        <router-link to='/todo'>todo</router-link>
        <router-link to='/recyle'>recyle</router-link>
        <router-view></router-view>

    </div>

    <script>
        const SingleToDo = {
            props: ['todo'],
            data()
            {
                return {
                    isShow: false,
                    updateValue: this.todo.title
                }
            },
            template: `<div>
      <input type="checkbox" @click="handleDone" v-model="todo.doneValue"/>
      <span>{{ todo.title }}</span>
      <span @click="delTodo">删除</span>

      </div>`,
            methods:
            {
                handleDone()
                {
                    this.todo.done = !this.todo.done
                    this.$emit('todoDone', this.todo)
                },
                delTodo()
                {
                    //console.log(this.todo.title)
                    this.$emit('todoDel', this.todo)
                }
            }
        }
        const Todo = {
            template: `<div class="todoCon">
          创建TODO
            <div class="todoWrap">
            <input type="text" v-model="inputValue" placeholder="请输入" @keyup.enter="handleCreateToDo" />
            <div class="todolit">
            <ul>
            <li v-for="item in todos">
            <div v-if="!item.isDel">
           <SingleToDo :todo="item" @todoDone="todoDone" @todoDel="todoDel"></SingleToDo>
        </div>
</li>
            </ul>
            </div>
            </div>
            </div>
        `,
            data()
            {
                return {
                    inputValue: "",
                    todos: []
                }
            },
            created()
            {
                let todos = JSON.parse(window.localStorage.getItem(
                    'todos'))
                console.log(typeof todos)
                console.log(todos)
                this.todos = todos || []
            },
            methods:
            {
                handleCreateToDo()
                {
                    var item = {
                        title: this.inputValue,
                        done: false,
                        isDel: false
                    }
                    this.todos.push(item);
                    this.inputValue = "";
                    window.localStorage.setItem('todos', JSON.stringify(
                        this.todos))
                },
                todoDel(todo)
                {
                    console.log(todo);
                    console.log('from child')
                    let index = this.todos.findIndex((cur, index) => cur ===
                        todo)
                    //this.todos.splice(index, 1)
                    this.todos[index].isDel = true
                    window.localStorage.setItem('todos', JSON.stringify(
                        this.todos))
                }

            },
            components:
            {
                'SingleToDo': SingleToDo
            }

        }


        const doneTodo = {

            props:['doneTodo'],

            template: `<li>{{doneTodo.title}}</li>
          `
        }
        const Recyle = {
            components:
            {
                'doneTodo': doneTodo
            },
            data()
            {
                todos = JSON.parse(window.localStorage.getItem(
                    'todos')) || []


                return {
                    donetodolist: todos.filter(item => item.isDel)
                }
            },
          template: `<div class="recyleCon">回收站页面
          <ul>
          <doneTodo v-for="item in donetodolist" :doneTodo="item"></doneTodo>
          </ul>
          </div>
        `
        }

        const routes = [
        {
            path: '/todo',
            name: 'Todo',
            component: Todo
        },
        {
            path: '/recyle',
            name: 'Recyle',
            component: Recyle
        },
        {
            path: '/',
            component: Todo
        }]
        const router = VueRouter.createRouter(
        {
            history: VueRouter.createWebHashHistory(),
            routes
        })
        const myapp = {
            components:
            {
                Todo,
                Recyle

            }
        }
        const App = Vue.createApp(myapp)
        App.use(router);
        App.mount("#app");
    </script>
</body>

</html>
